@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #085B8E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #01022E;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  max-width: 80%;
  margin-left: auto;
margin-right: auto;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #0F7DC1;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 300px;
  color: #fff;
}
.edit-todo-input{
  outline: none;
  background: none;
  border: 1px solid #0F7DC1;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 300px;
  color: #fff;
}

.search-input {
  outline: none;
  background: none;
  border: 1px solid #0F7EC2;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 300px;
  color: #fff;
}

.search-icon {
  color: #1795E2;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #012134;
  color: #fff;
  border: 1px solid #1487CE;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.5s ease;
}

.todo-btn:hover {
  background-color: #1487CE; 
}

.edit-todo-btn{
  background: #012134;
  color: #fff;
  border: 1px solid #1487CE;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.5s ease;
}

.edit-todo-btn:hover {
  background-color: #1487CE; 
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #053C5E;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;  
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
  max-width: 75%; /* Metin kutusunun maksimum genişliği */
  white-space: nowrap; /* Metnin bir satırda kalmasını sağlar */
  overflow: hidden; /* Taşan metni gizler */
  text-overflow: ellipsis; 
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
  max-width: 75%; /* Metin kutusunun maksimum genişliği */
  white-space: nowrap; /* Metnin bir satırda kalmasını sağlar */
  overflow: hidden; /* Taşan metni gizler */
  text-overflow: ellipsis; 
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
.checkbox{
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem;
}
 

